<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></div>

        <div class="cart">Cart({{ 'Green = '+ cart[0] +', '+ ' Blue = ' + cart[1] }})</div>

        <!-- <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img :src="image" :class ="{'out-of-stock-img': !inStock}">
                </div>
                <div class="product-info">
                    <h1>{{title }}</h1>
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">In Stock</p>
                    <p v-else>Out of Stock</p>
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                    <div v-for="(variant,index) in variants" :key="variant.id" @mouseover="updateVariant(index)" class="color-circle" :style ="{backgroundColor: variant.color}"></div>
                    <button class=" button " :disabled='!inStock' :class ="{disabledButton: !inStock} " @click="addToCart ">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    </div> -->
    <product-display :premium="premium"
    @add-to-cart="updateCart"
    @remove-from-cart="removeFromCart"
    ></product-display>
    
    </div>

    <!-- Import Js -->
    <script src="./main.js "></script>
    <!-- Import Components -->
    <script src="./components/ProductDisplay.js"></script>
    <script src="./components/ProductDetails.js"></script>
    <script src="./components/ReviewForm.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>